  
<div id="page_wrapper">
 <div id="profile_image">
  <%= image_tag "user.png" %>
 </div>

 <div id="content">
  <h1>It's Mr. Kia Kamangar</h1>
  </p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et mauris in tellus aliquam tincidunt. Mauris luctus tincidunt convallis. In sodales, mi sit amet bibendum pellentesque, enim quam lacinia lorem, quis pretium neque lectus vel erat. Integer maximus commodo orci, non imperdiet urna faucibus eu. Etiam dignissim eu mauris ac euismod. Sed convallis, neque congue sagittis volutpat, arcu enim scelerisque dui, in sagittis arcu ante quis turpis. Donec facilisis suscipit est quis aliquet. Integer leo arcu, venenatis quis odio convallis, ultricies porttitor dolor. Morbi vulputate at est eget tincidunt. Vestibulum at erat id lacus sodales vestibulum at at urna. Vestibulum feugiat ligula eu tristique posuere. Sed eget nibh quis sem aliquet tincidunt.
  </p>
 </div>
</div>